/*
Mellis
Copyright (C) 2021 Felix v. Oertzen

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.*/
@media screen and (max-width: 560px)
/*,(min-device-width: 768px) and (max-device-width: 1024px) */ {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
    font-size: 100%;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
  td:nth-of-type(1):before { content: "Date/Time"; }
	td:nth-of-type(2):before { content: "IP"; }
	td:nth-of-type(3):before { content: "host name"; }
	td:nth-of-type(4):before { content: "user agent"; }

}
.th_time_date:before { content: "Date/Time"; }
.th_internet_protocoll:before { content: "IP"; }
.th_host_name:before { content: "host name"; }
.th_user_agent:before { content: "user agent"; }

input[type=submit] {
  font-size: 80%;
}
