/*
Mellis
Copyright (C) 2021 Felix v. Oertzen

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.*/
#title {
    background-color: white;
    color: black;
    font-size: 5.5vh;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#title > span {
  font-size:60%;
}

#shortlinkform {
  margin-bottom: 64px !important;
}

.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 40px;
}

.container[data-hidden='true'] {
  display: none;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit], input[type=button]{
    width: 100%;
    margin-top: 0;
  }
  input[type=submit], input[type=button]{
    margin-top: 12px;
  }
  input[type=password]{
    margin-left: 0px;
  }
  .container {
    padding: 8px;
    margin: 0px;
  }
}

.httpserror {
  color:darkred;
  padding:8px;
  border: 4px double darkred;
}

#copytoclipboard {
  float:right;
}

.col-75 > input[type=text] {
  margin-left:0px;
}
